/*==Style cho menu===*/
#menu ul {
    background: #e4a512;
    list-style-type: none;
    text-align: center;
  }
  #menu li {
    color: #f1f1f1;
    display: inline-block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    margin-left: -5px;
  }
  #menu a {
    text-decoration: none;
    color: #fff;
    display: block;
  }
  #menu a:hover {
    background: #8f064f;
    color: #333;
  }
 
.sub-menu {
    display: none;
    position: absolute;
  }
  #menu li {
    position: relative;
  }
  #menu li:hover .sub-menu {
    display: block;
  }
  .sub-menu li {
    margin-left: 0 !important;
  }
  
  /*==Menu cấp 3==*/
  .sub-menu > ul {
    display: none !important;
  }

